@charset "utf-8";

@font-face {
    font-family: 'SourceCodePro';
    font-style: normal;
    font-weight: 700;
    src: url(fonts/SourceCodePro-Bold.woff2) format('woff2'),
        url(fonts/SourceCodePro-Bold.woff) format('woff'),
        url(fonts/SourceCodePro-Bold.otf) format('opentype'),
}

@font-face {
    font-family: 'SourceCodePro';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/SourceCodePro-Regular.woff2) format('woff2'),
        url(fonts/SourceCodePro-Regular.woff) format('woff'),
        url(fonts/SourceCodePro-Regular.otf) format('opentype'),
}

@font-face {
    font-family: 'SourceCodePro';
    font-style: normal;
    font-weight: 300;
    src: url(fonts/SourceCodePro-ExtraLight.woff2) format('woff2'),
        url(fonts/SourceCodePro-ExtraLight.woff) format('woff'),
        url(fonts/SourceCodePro-ExtraLight.otf) format('opentype'),
}

@font-face {
    font-family: 'SpoqaHanSansNeo';
    font-style: normal;
    font-weight: 700;
    src: url(fonts/SpoqaHanSansNeo-Bold.woff2) format('woff2'),
        url(fonts/SpoqaHanSansNeo-Bold.woff) format('woff'),
        url(fonts/SpoqaHanSansNeo-Bold.otf) format('opentype'),
}

@font-face {
    font-family: 'SpoqaHanSansNeo';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/SpoqaHanSansNeo-Regular.woff2) format('woff2'),
        url(fonts/SpoqaHanSansNeo-Regular.woff) format('woff'),
        url(fonts/SpoqaHanSansNeo-Regular.otf) format('opentype'),
}