@charset "UTF-8";

#wrap{overflow-x: hidden;}

/* section01 */
#section01{position: relative;}
#section01 .mainSlide{ height: 1080px;}
#section01 .mainSlide .logo img{display: block; margin: 0 auto;}
#section01 .mainSlide h1{margin-bottom: 24px; font-size: 80px; text-align: center; color: #fff;   font-family: VITROCORETTF; font-weight: 900;}
#section01 .mainSlide .text01{margin-bottom: 99px; font-size: 30px; text-align: center; color: #fff;   font-family: Pretendard; font-weight: 600; text-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);}
#section01 .mainSlide .text01 strong{color: #ff661a; font-size: 35px; font-family: Pretendard;   font-weight: 900; text-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);}
#section01 .mainSlide .text02::before{content: ''; position: absolute; top:-70px; left:50%; width: 5px; height: 40px; background-color: #ff661a; margin-left: -2.5px;}
#section01 .mainSlide .text02{ position: relative; padding: 36px 0; margin: 0 auto 40px; max-width: 720px; background-color: #ff661a; text-align: center; box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);}
#section01 .mainSlide .text02 strong{margin-bottom: 3px; display: block; font-size: 100px; font-weight: 700; color: #000; letter-spacing: -2px}
#section01 .mainSlide .text02 span{font-size: 50px; font-weight: 500; color: #000; letter-spacing: -1px;}
#section01 .text03{font-size: 60px; color: #fff; font-weight: 500; text-align: center;   text-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);}
#section01 .text03 strong{color:#ff661a; font-size: 60px; font-weight: 500;}
#section01 .text03 strong em{position: relative;}
#section01 .text03 strong em::before{content: ''; position: absolute; top:-15px; left:50%; margin-left: -5px; border-radius: 50px; width: 10px; height: 10px; background-color: #ff661a;}
#section01 .slick-dots{display: flex; gap: 6px; align-items: center; justify-content: center; position: absolute; bottom: 105px; left: 50%; transform: translateX(-50%); width: 100%;}
#section01 .slick-dots li.slick-active button{background: #ff661a;}
#section01 .slick-dots li button{display: block; width: 15px; height: 15px; text-indent: -9999px; border-radius: 50%; background-color:#D2D6E0; cursor: pointer; border: solid 2px #ff661a; background: transparent;}
#section01 .scroll{position: absolute; left: 50%; transform: translateX(-50%); bottom: 40px; display: block; width: 20px; height: 20px; background: url(../images/main/scroll_icon.png)no-repeat;}
#section01 .mainSlide.mainSlide03{position: relative; z-index: 9;}
#section01 .mainSlide.mainSlide03::after{content: ''; position: absolute; bottom: 0; right:0; width: 600px; height: 600px; background: url(../images/main/bg03_img01.png)no-repeat; background-size: cover; z-index: 1;}
#section01 .mainSlide.mainSlide03 .infoList{margin-bottom: 40px;}
#section01 .mainSlide.mainSlide03 .infoList li{padding: 14.5px 0; margin-bottom: 10px; text-align: center; font-size: 50px; font-weight: 500; color: #000; background-color: #ff661a;}
#section01 .mainSlide.mainSlide03 .infoList li strong{font-weight: 700; font-size: 65px; color: #000;}
#section01 .mainSlide.mainSlide03 .contactWrap .callBox{margin: 0 auto 20px; width: 260px; padding: 12px 33px 11px; border-radius: 50px; background-color: #000; letter-spacing: -1px;}
#section01 .mainSlide.mainSlide03 .contactWrap .callBox .call{position: relative; padding-left: 40px; font-size: 25px; font-weight: 500; color: #ff661a; font-weight: 700;}
#section01 .mainSlide.mainSlide03 .contactWrap .callBox .call::before{content: ''; position: absolute; top:-2px; left:0; width: 30px; height: 30px; background: url(../images/main/call.png)no-repeat;}
#section01 .mainSlide.mainSlide03 .contactWrap .number{display: block; margin-bottom: 11px; text-shadow: 0 10px 10px rgba(0, 0, 0, 0.5); font-size: 50px; font-weight: 700; color: #fff; text-align: center;}
#section01 .mainSlide.mainSlide03 .contactWrap p{font-size: 20px; font-weight: 600; text-align: center; color: #fff;}
#section01 .mainSlide.mainSlide01{padding: 60px 0 0; background: url(../images/main/main_bg01.jpg)no-repeat center top; background-size: cover;}
#section01 .mainSlide.mainSlide02{padding: 60px 0 0; background: url(../images/main/main_bg02.jpg)no-repeat center top; background-size: cover;}
#section01 .mainSlide.mainSlide03{padding: 60px 0 0; background: url(../images/main/main_bg03.jpg)no-repeat center top; background-size: cover;}
#section01 .contactWrap{position: relative; z-index: 999;}

@media (max-width: 1024px){

    #section01 .mainSlide.mainSlide01{padding: 50px 0 0;}
    #section01 .mainSlide .logo img{width: 160px;}
    #section01 .mainSlide{height: 860px;}
    #section01 .mainSlide h1{margin-bottom: 3px; font-size: 50px;}
    #section01 .mainSlide .text01{margin-bottom: 80px; font-size: 25px; line-height: 1.2;}
    #section01 .mainSlide .text01 strong{display: block; font-size: 25px;}
    #section01 .mainSlide .text02{padding: 29px 0; margin: 0 auto 30px;}
    #section01 .mainSlide .text02::before{top: -60px;}
    #section01 .mainSlide .text02 strong{font-size: 60px;}
    #section01 .mainSlide .text02 span{font-size: 30px;}
    #section01 .text03 strong,
    #section01 .text03{font-size: 35px;}
    #section01 .text03 strong em::before{top: -10px; width: 6px; height: 6px;}
    #section01 .scroll{bottom: 30px;}
    #section01 .slick-dots{bottom: 95px;}

    #section01 .mainSlide.mainSlide03 h1{margin-bottom: 23px;}
    #section01 .mainSlide.mainSlide03::after{width: 208px; height: 264px;}
    #section01 .mainSlide.mainSlide03 .infoList li{margin-bottom: 5px; padding: 8px 0; font-size: 30px;}
    #section01 .mainSlide.mainSlide03 .infoList li strong{font-size: 40px;}
    #section01 .mainSlide.mainSlide03 .contactWrap .callBox{padding: 12px 23px 11px; width: 180px; margin: 0 auto 15px;}
    #section01 .mainSlide.mainSlide03 .contactWrap .callBox .call{padding-left: 25px; font-size: 18px;}
    #section01 .mainSlide.mainSlide03 .contactWrap .callBox .call::before{width: 20px; height: 20px; background-size: cover;}
    #section01 .mainSlide.mainSlide03 .contactWrap .number{font-size: 35px;}
    #section01 .mainSlide.mainSlide03 .contactWrap p{font-size: 16px;}

}

/* section02 */
#section02{padding: 120px 0 218px; background: url(../images/main/bg02.jpg)no-repeat center top; background-size: cover;}
.titleWrap{margin-bottom: 44px;}
.titleWrap h1 span{display: block; margin-bottom: 25px; color: #fff; font-weight: 500; text-align: center; font-size: 70px; text-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);}
.titleWrap h1 strong{position: relative; display: block; text-align: center; font-size: 70px; color: #ff661a;  font-family: VITROCORETTF; text-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);}
.titleWrap h1 strong em{position: relative;}
.titleWrap h1 strong em::after{content: ''; position: absolute; top:-10px; left: 50%; margin-left: -6.5px;  width: 13px; height: 13px; border-radius: 50px; background-color: #ff661a; } 
#section02 .text01{margin-bottom: 50px; display: flex; align-items: center; justify-content: center; gap: 30px;}
#section02 .text01{font-size: 70px; font-weight: 700; color: #ff661a; line-height: 1.3;}
#section02 .text01 strong{width: 500px; height: 180px; display: flex; align-items: center; justify-content: center; font-size: 120px; font-weight: 700; color: #000; box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.5); background-color: #ff661a; border-radius: 90px; letter-spacing: -7px;}
#section02 .text02{font-size: 30px; font-weight: 600; text-align: center; font-family: 'Pretendard'; color: #fff; line-height: 1.25;}
#section02 .text02 strong{font-size: 35px; color: #ff661a; font-weight: 800;}
#section02 .top{margin-bottom: 170px; position: relative; padding-bottom: 93px;}
#section02 .top::after{content: ''; position: absolute; bottom: 0; left: -100%; right: -100%; height: 20px;  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5); background-color: #ff661a;}
#section02 .infoList{display: flex; justify-content: center; gap: 58px;}
#section02 .infoList span::after{content: ''; position: absolute; top:-80px; left: 50%; margin-left: -2.5px;  width: 5px; height: 50px; background-color: #ff661a}
#section02 .infoList span{ position: relative; display: block; width: 80px; height: 80px; margin: 0 auto 30px; text-align: center; line-height: 84px;   box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5); background-color: #ff661a; font-size: 35px; font-weight: 700; border-radius: 50px; color: #000;}
#section02 .infoList h2{margin-bottom: 10px; text-align: center; font-size: 60px; font-weight: 700; color: #ff661a;}
#section02 .infoList p{text-align: center; font-family: Pretendard; font-size: 20px; color: #fff; line-height: 1.25;}

@media (max-width: 1024px){
    
    #section02{padding: 80px 0 114px;}
    #section02 .text01{gap: 10px; margin-bottom: 41px; font-size: 40px;}
    #section02 .text01 strong{width: 220px; height: 90px; font-size: 55px; letter-spacing: -3px;}
    #section02 .text02{font-size: 18px;}
    #section02 .text02 strong{font-size: 20px;}
    #section02 .top{margin-bottom: 110px; padding-bottom: 61px;}
    #section02 .infoList span{margin-bottom: 30px; width: 60px; height: 60px; line-height: 62px; font-size: 30px;}
    #section02 .infoList h2{margin-bottom: 11px; font-size: 50px;}
    #section02 .infoList p{font-size: 18px;}
    #section02 .slickWrap{position: relative;}
    #section02 .slickWrap button{position: absolute; top:90px; width: 40px; height: 40px;}
    #section02 .slickWrap button.prev{left:0; background: url(../images/main/prev.png)no-repeat;}
    #section02 .slickWrap button.next{right:0; background: url(../images/main/next.png)no-repeat;}

    .titleWrap{margin-bottom: 23px;}
    .titleWrap h1 span{margin-bottom: 15px;}
    .titleWrap h1 span{font-size: 35px;}
    .titleWrap h1 strong{font-size: 50px;}
    .titleWrap h1 strong em::after{top: -5px; width: 8px; height: 8px;}

}

/* section03 */
#section03{padding: 140px 0 83px; background: url(../images/main/bg03.jpg)no-repeat center top; background-size: cover;}
#section03 .titleWrap{margin-bottom: 0;} 
#section03 .titleWrap h1{display: flex; gap: 8px; justify-content: center;}
#section03 .titleWrap h1 span em{font-size: 70px;}
#section03 .titleWrap h1 span,
#section03 .titleWrap h1 strong{text-shadow: none;}
#section03 .titleWrap h1 strong{margin-top: -5px; font-size: 80px;}
#section03  .text01{margin-bottom: 110px; font-size: 25px; font-weight: 600; color: #fff; text-align: center; font-family: 'Pretendard'; line-height: 1.2;}
#section03  .text01 strong{font-weight: 600; color: #ff661a; font-family: 'Pretendard';} 
#section03 h2{position: relative; margin: 0 auto; width: 320px; height: 80px; line-height: 80px; border-radius: 40px; background-color: #ff661a; text-align: center; font-size: 45px; color: #000; font-weight: 700; z-index: 2;}
#section03 h2::after{content: ''; position: absolute; left: 50%; margin-left: -2.5px; top:-80px; width: 5px; height: 50px; background-color: #ff661a;}
#section03 .top{position: relative; margin-bottom: 42px;}
#section03 .top::after{content: ''; position: absolute; bottom: 37px; left: -100%; right: -100%; height: 10px; background-color: #ff661a; box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);}
#section03 .infoList li{padding: 20px 0; display: flex; align-items: center; gap: 20px; border-bottom: 1px solid rgba(255,255,255, .2);}
#section03 .infoList li:last-child{border: 0;}
#section03 .infoList li span{display: block; width: 60px; height: 60px; line-height: 60px; border-radius: 50px; text-align: center; box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5); background-color: #ff661a; font-size: 25px; font-weight: 700; color: #000;}
#section03 .infoList li p{font-size: 35px; font-weight: 300; color: #fff;}
#section03 .infoList li p strong{font-weight: 700; color: #ff661a;}
#section03 .info{margin-top: 40px; padding: 31.5px 20px; background-color: #ff661a; box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2); font-size: 18px; font-weight: 800; font-family: Pretendard; line-height: 1.25;}

@media (max-width: 1024px){

    #section03{padding: 80px 0 100px;}
    #section03 .titleWrap{margin-bottom: 101px;}
    #section03 .text01{display: none;}
    #section03 .titleWrap h1{flex-direction: column;}
    #section03 .titleWrap h1 span em{font-size: 40px;}
    #section03 .titleWrap h1 span,
    #section03 .titleWrap h1 strong{font-size: 50px;}
    #section03 .top::after{bottom: 22px;}
    #section03 h2::after{top: -70px; height: 40px;}
    #section03 h2{width: 200px; height: 50px; line-height: 50px; font-size: 30px;}
    #section03 .infoList li{gap: 10px;}
    #section03 .infoList li span{width: 40px; height: 40px; line-height: 42px; font-size: 16px;}
    #section03 .infoList li p{font-size: 22px;}
    #section03 .info{padding: 27.5px 20px;}

}

/* section04 */
#section04{padding: 140px 0 240px; background: url(../images/main/bg04.jpg)no-repeat center top; }
#section04 .titleWrap{margin-bottom: 14px;}
#section04 .titleWrap strong{display: inline-block; margin-top: 24px;}
#section04 .text01{margin-bottom: 150px; text-align: center; color: #fff; font-size: 25px; font-weight: 600; font-family: Pretendard; line-height: 1.4;}
#section04 .list::after{content: ''; position: absolute; top:-110px; left:50%; margin-left: -2.5px; width: 5px; height: 50px; background-color: #ff661a;}
#section04 .list{position: relative; display: flex; flex-wrap: wrap; gap: 20px; justify-content: center;}
#section04 .list li{width: 285px; height: 140px; line-height: 142px; text-align: center; font-size: 30px; font-weight: 500; color: #000; background-color: #ff661a;}

@media (max-width: 1024px){

    #section04{padding: 80px 0 100px;}
    #section04 .titleWrap{margin-bottom: 13px;}
    #section04 .titleWrap h1 strong{display: block; margin: 20px 0 10px;}
    #section04 .titleWrap h1 span > em{font-size: 40px;} 
    #section04 .text01{margin-bottom: 104px; font-size: 18px;}
    #section04 .list li{width: 200px; height: 120px; line-height: 120px; font-size: 30px;}
    #section04 .list::after{top: -70px;}

}

/* section05 */
#section05{padding: 140px 0 150px; background: url(../images/main/bg05.jpg)no-repeat center top; background-size: cover;}
#section05 .titleWrap{margin-bottom: 0;}
#section05 .titleWrap h1{display: flex; justify-content: center; gap: 15px;}
#section05 .titleWrap h1 span{text-shadow: none;}
#section05 .titleWrap h1 strong{text-shadow: none;}
#section05 .text01{margin-bottom: 110px; text-align: center; line-height: 1.25; font-size: 25px; color: #fff; font-weight: 600; font-family: 'Pretendard';}
#section05 .text01 strong{color: #ff661a; font-weight: 600;}
#section05 h2{position: relative; width: 320px; height: 80px; line-height: 80px; margin: 0 auto 73px; font-size: 45px; text-align: center; color: #000; font-weight: 700; border-radius: 40px; background-color: #ff661a; letter-spacing: -2px;}
#section05 h2::after{content: ''; position: absolute; top:-80px; left: 50%; margin-left: -2.5px; width: 5px; height: 50px; background-color: #ff661a;}
#section05 .certList{display: flex; gap: 20px; align-items: center; justify-content: center;}
#section05 .certList li{flex: 1;}
#section05 .certList li img{display: block; width: 100%;}

@media (max-width: 1024px){

    #section05 .titleWrap h1 span{margin-bottom: 3px;}
    #section05{padding: 90px 0 100px;}
    #section05 .titleWrap h1 span{font-size: 40px;}
    #section05 .titleWrap h1 strong{font-size: 40px;}
    #section05 .text01{margin-bottom: 102px; font-size: 18px; line-height: 1.35;}
    #section05 .text01 strong{font-size: 20px;}
    #section05 h2{margin: 0 auto 30px; width: 200px; height: 50px; line-height: 50px; font-size: 30px;}
    #section05 h2::after{top: -70px; height: 40px;}

}

@media (max-width: 576px){

    #section05 .titleWrap h1{letter-spacing: -2px;}
    #section05 .container{padding: 0 27px;}
    #section05 .certList{flex-wrap: wrap; gap: 20px 4.76%;}
    #section05 .certList li{flex: none; width: 47.62%;}

}

@media (max-width: 480px){

    #section05 .titleWrap h1{flex-wrap: wrap;}

}

/* section06 */
#section06{padding: 160px 0 35px; background: url(../images/main/bg06.jpg)no-repeat center top; background-size: cover;}
#section06 .titleWrap{margin-bottom: 42px;}
#section06 .titleWrap .title{font-size: 60px; color: #fff; font-family: 'Pretendard'; text-align: center; font-size: 60px; font-weight: 600; line-height: 1.2;}
#section06 .titleWrap .title strong{color: #ff661a; letter-spacing: -3px; font-weight: 800;}
#section06 .text01{margin-bottom: 130px; text-align: center; font-size: 20px; color: #fff; font-weight: 600; font-family: 'Pretendard'; line-height: 1.4;}
#section06 .imgWrap{position: relative; max-width: 740px; /*height: 480px;*/ height: 0; padding-top: 40%; margin: 0 auto;}
#section06 .imgWrap::after{content: ''; margin-left: -2.5px; position: absolute; top:-90px; left:50%; width: 5px; height: 50px; background-color: #ff661a;}
#section06 .imgWrap img{display: block; margin: 0 auto; position: absolute; top:0; left:0; right:0; bottom: 0; max-width: 100%; max-height: 100%; object-fit: cover;}

@media (max-width: 1024px){

    #section06{padding: 80px 0 90px;}
    #section06 .imgWrap::after{top: -78px;}
    #section06 .titleWrap {margin-bottom: 19px;}
    #section06 .titleWrap .title{font-size: 30px; }
    #section06 .titleWrap .title strong{letter-spacing: 0;}
    #section06 .text01{margin-bottom: 117px; font-size: 18px;}
    #section06 .imgWrap{padding-top: 68%;}
    #section06 .imgWrap::after{height: 40px;}
    
}

/* section07 */
#section07{padding: 120px 0; background-color: #262626;}
#section07 .titleWrap .title h1 span{margin: 0; font-size: 80px; text-shadow: none; font-weight: 700;}
#section07 .titleWrap .title h1 strong{font-size: 80px; text-shadow: none; font-family: 'EsaManru', sans-serif;}
#section07 .titleWrap{margin-bottom: 117px;}
#section07 .titleWrap .title h1{display: flex; align-items: center; gap: 13px; justify-content: center;}
#section07 .videoList::after{content: ''; position: absolute; top:-100px; left: 50%; width: 5px; height: 50px; background-color: #ff661a;}
#section07 .videoList{position: relative; margin-bottom: 40px; display: flex; justify-content: center; gap: 0 2.51%; flex-wrap: wrap;}
#section07 .videoList li:nth-child(n + 4){margin-bottom: 0;}
#section07 .videoList li{width: 31.66%; height: 0; margin-bottom: 2.5%; padding-top: 20.9%; background-color: #fff;}
#section07 .videoList li .videoBox{position: absolute; top:0; left:0; right:0; bottom: 0; width: 100%; height: 100%;}
#section07 .view{position: relative; display: block; margin: 0 auto; width: 240px; height: 60px; line-height: 60px; background-color: #ff661a; border-radius: 30px;}
#section07 .view span{padding-left: 40px; font-size: 20px; font-weight: 500; color: #000;  }
#section07 .view::after{content: ''; position: absolute; transform: translateY(-50%); top:50%; right:30px; width: 15px; height: 15px; background: url(../images/main/arrow.png)no-repeat;}

@media (max-width: 1024px){

    #section07{padding: 80px 0 100px;}
    #section07 .titleWrap{margin-bottom: 103px;}
    #section07 .titleWrap .title h1 span,
    #section07 .titleWrap .title h1 strong{font-size: 40px;}
    /* #section07 .videoList li{width: 200px; height: 130px;} */
    #section07 .videoList li{width: 37%; margin-bottom: 2.1%;}
    #section07 .videoList li:nth-child(n + 3){margin-bottom: 0;}
    #section07 .videoList li:nth-child(n + 5){display: none;}
    #section07 .videoList{margin-bottom: 60px; gap: 2.1%;}
    #section07 .videoList::after{height: 40px; top: -70px;}

}

@media (max-width: 768px){

    #section07 .videoList li{width: 42%; padding-top: 28%;}

}

@media (max-width: 480px){

    #section07 .videoList li{width: 47.8%; padding-top: 31%;}

}